<nav class="navbar navbar-expand-lg border-bottom sticky-top bg-white ">
  <div class="container-fluid align-items-center justify-content-between">

    <a class="navbar-brand d-flex align-items-center" href="/listings">
      <i class="fa-solid fa-compass css-icon text-danger fs-4 me-2"></i>
      <span class="fw-bold">Wanderlust</span>
    </a>

    <!-- Hotels and flights -->
    <div class="middle-section">
      <a  href="/listings" class="middle-nav-item active">
        <img src="/assests/hotels.png" id="Homes" alt="Home Icon" class="nav-icon"/>
        <label for="Homes">Homes</label>
      </a>
      <!-- <a href="/flights" class="middle-nav-item">
        <img src="/assests/flights.png" id="Flights" alt="Home Icon" class="nav-icon"/>
        <label for="Flights">Flights</label>
      </a> -->
    </div>

    <div class="navbar-nav ms-3">
      <a class="nav-link fw-semibold" href="/listings/new">Become a host</a>
      <!-- < if(!req.user) {} %> this wil l give error->instead of this we can store it in locals --> 
      <!-- this teels if user is login then it will return obj then on page we can only see logout -->
      
      <% if(typeof user !== 'undefined' && user) { %>
        <a class="nav-link fw-semibold" href="/logout">Logout</a>
      <% } else { %>
        <a class="nav-link fw-semibold" aria-current="page" href="/signup">Sign Up</a>
        <a class="nav-link fw-semibold" href="/login">Login</a>
      <% } %>
    </div>
  </div>
</nav>


<div class="search-container">
  <form class="search-box" role="search" action="/listings">
    <div class="search-section">
      <div><b>Where</b></div>
      <input class="form-control search-inp" type="search" placeholder="Search destinations" name="searchDestination">  
    </div>
    <div class="search-section">
      <div><b>Check in</b></div>
      <input class="form-control search-inp" type="date" placeholder="Add dates" >
    </div>
    <div class="search-section">
      <div><b>Check out</b></div>
      <input class="form-control search-inp" type="date" placeholder="Add dates" > 
    </div>
    <button class="search-btn" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
  </form>

</div>