<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top bg-white css-nav">
  <div class="container-fluid bg-white">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass css-icon"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Wanderlust</a>
      </div>

      <form class="d-flex" role="search" action="/listings">
        <div class="ms-2">
          <div><b>Where</b></div>
          <input class="form-control search-inp" type="search" placeholder="Search destinations" name="searchDestination">  
        </div>
        <div class="ms-2">
          <div><b>Check in</b></div>
          <input class="form-control search-inp" type="date" placeholder="Add dates" >
        </div>
        <div class="">
          <div><b>Check out</b></div>
          <input class="form-control search-inp" type="date" placeholder="Add dates" > 
        </div>
        <button class="btn css-btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
            Search
          </button>
      </form>

      <a href="/flights" target="_blank">Flights</a>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Become a host</a>
        <!-- < if(!req.user) {} %> this wil l give error->instead of this we can store it in locals --> 
        <!-- this teels if user is login then it will return obj then on page we can only see logout -->
       
        <% if(typeof user !== 'undefined' && user) { %>
          <a class="nav-link" href="/logout">Logout</a>
        <% } else { %>
          <a class="nav-link active" aria-current="page" href="/signup">Sign Up</a>
          <a class="nav-link" href="/login">Login</a>
        <% } %>
      </div>
    </div>
    
  </div>
</nav>