<% layout('./layouts/boilerplate') %>

<div class="container my-5">
  <div class="card border-1 shadow-sm p-4 rounded-4" >
    <h3 class="mb-4 fw-bold text-center">Create a New Listing</h3>
    <!-- novalidate -> change the default browser -->
     <!-- enctype -> throgh this we can send files tp backende -->
    <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="row g-4">
          <div class="col-md-6">
            <label for="title" class="form-label fw-semibold">Title</label>
            <input name="listing[title]" type="text" class="form-control rounded-3 shadow-sm" id="title" placeholder="e.g., Cozy Apartment in Mumbai" required>
            <div class="invalid-feedback">Please enter a title.</div>
          </div>

          <div class="col-md-6">
            <label for="price" class="form-label fw-semibold">Price (₹)</label>
            <input name="listing[price]" type="number" class="form-control rounded-3 shadow-sm" id="price" placeholder="e.g., 2500" required>
            <div class="invalid-feedback">Please enter a valid price.</div>
          </div>
        
          <div class="col-12">
            <label for="description" class="form-label fw-semibold">Description</label>
            <textarea name="listing[description]" class="form-control rounded-3 shadow-sm" id="description" rows="3" placeholder="Write a short description..." required></textarea>
            <div class="invalid-feedback">Please provide a description.</div>
          </div>
        
        
        <div class="col-12">
          <label for="image" class="form-label  fw-semibold">Upload image </label>
          <input type="file" id="image" class="form-control rounded-3 shadow-sm" name="listing[image]" placeholder="eg. https://images.unsplash.com/photo-150...."> 
          <div class="invalid-feedback">Please upload an image.</div>
        </div>

        <div class="col-md-6">
          <label for="loc" class="form-label fw-semibold">Location: </label>
          <input type="text" id="loc" class="form-control  rounded-3 shadow-sm" name="listing[location]" placeholder="eg. Jaipur" required> 
          <div class="invalid-feedback">Please enter a location</div>
        </div>

        <div class="col-md-6">
          <label for="country" class="form-label fw-semibold">Country</label>
          <input name="listing[country]" type="text" class="form-control rounded-3 shadow-sm" id="country" placeholder="e.g., India" required>
          <div class="invalid-feedback">Please enter a country.</div>
        </div>
      </div>
      <button class="btn btn-danger w-100 py-2 mt-4 rounded-3 shadow-sm fw-semibold">Save</button>
      </div>
    </form>
  </div>
</div>
