body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

/* navbar */

.css-nav {
  height: 10vh;
  font-size: large;
}

.css-icon {
  color: crimson;
  font-size: 2rem
}

.nav-link {
  color: #222222 !important;
}

/* footer */

.f-info {
  text-align: center;
  display: flex;
  height: 6rem;
  background-color: #e9e6e6;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

.f-info-socials{
  width: 100%;
}

.f-info-socials a {
  margin-right: 1.2rem;
  text-decoration: none;
  color: #222222;
}

.f-info-links {
  width: 100%;
  font-size: 1rem;
}

.f-info-links a{
  text-decoration: none;
  color: #222222;
  font-size: 1.4rem;
  margin-right: 1rem;
}

.f-info-socials a:hover {
  text-decoration: underline;
}

/* cards */

.listing-card {
  border: none !important;
  margin-bottom: 1rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-text a{
  text-decoration: none;
  color: #222222 !important; 
  font-weight: 400;
}

.card-body {
  padding: 0 !important;
  margin: 0 !important;
}

.card-img {
  text-decoration: none;
  color: #222222 !important; 
}

/* card effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* new ejs file */

.css-add-btn, .css-edit-btn {
  background-color: crimson !important;
  border: none !important;
}

/* show ejs */

.css-show-img {
  height: 40vh;
} 

.show-edit {
  text-decoration: none !important;
}