<% layout('/layouts/boilerplate') %>
<body class="login-page">
  <div class="login-container">
    <form action="/login" method="post" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="username"  class="form-label">Username: </label>
        <input type="text" class="form-control" id="username" name="username" placeholder="eg. Priya" required> 
        <div class="invalid-feedback">Please enter username</div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password: </label>
        <input type="password" id="password" class="form-control" name="password" placeholder="eg. 1234" required> 
        <div class="invalid-feedback">Please enter password</div>
      </div>

      <button class="btn-login">Login</button>

      <div class="text-center signup-link">
        Don't have an account? <a href="/signup">Sign up</a>
      </div>
    </form>
    
  </div>
  <script src="/js/script.js"></script>
</body>
</html>


