<% layout('/layouts/boilerplate') %>
<body class="signup-page">
<div class="d-flex justify-content-center align-items-center">
  <div class="auth-card p-5 rounded-4" >
    <form action="/signup" method="post" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="username"  class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="eg. Priya" required> 
        <div class="invalid-feedback">Username should be valid</div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email: </label>
        <input type="email" id="email" class="form-control" name="email" placeholder="eg. priya@gmail.com" required> 
        <div class="invalid-feedback">Email should be valid</div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password: </label>
        <input type="password" id="paasword" class="form-control" name="password" placeholder="eg. 1234" required> 
        <div class="invalid-feedback">Password should be valid</div>
      </div>

      <button class="btn btn-danger  w-100 py-2 rounded-3">Sign Up</button>

      <div class="text-center mt-3">
        Already have an account? <a href="/login" class="text-decoration-none text-danger">Login</a>
      </div>
    </form>
  </div> 
</div>
</body>
